* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    background-color: #cacaca;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;/*To align the flex items at the center*/
    align-items: center; /*aligns items to the center vertically*/
    flex-wrap: wrap;
    height: 600px;
    align-content: center;
 }

 .item {
    background-color: #ff0037;
    color: #fff;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
 }

 .item-1 {
    order:3;
    flex-grow:6;
 }

 .item-2 {
    order: 4;
 }

 .item-3 {
   order: 0; 
 }

 .item-4 {
    order: 1;
 }

 .item-5 {
    order: 2;
    flex-basis: 75%;
    flex-shrink: 1;
 }

